::deep .card {
    border-radius: 10px;
    padding: 10px;
    background: #ffe3ff;
    background: -webkit-linear-gradient(180deg,rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    background: linear-gradient(180deg,rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFE3FF", endColorstr="#D4F9FF", GradientType=0 );
    transition: transform 0.2s;

}
    ::deep .card-image {
        filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(7498%) hue-rotate(200deg) brightness(95%) contrast(95%);
        transition: filter 0.3s ease, transform 0.3s ease;
    }
    ::deep .card:hover {
        transform: scale(1.05);
    }
 





    .btn.btn-blue-dark {
        background-color: #0a58ca;
        color: white;
        border: none;
    }

a.text-blue-dark {
    color: #0a58ca;
    font-weight: 600;
    font-size: 1.2rem;
}

.border-gradient {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    border-radius: 12px;
    z-index: 1;
}

    .border-gradient::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        border-radius: inherit;
        background: -webkit-linear-gradient(180deg, rgb(231 154 231) 1%, rgba(238, 238, 238, 1) 50%, #0dcaf0 100%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }
