@using Web.Data
@using Rehab.EndPoint.Web.ViewModels
@using Rehab.EndPoint.Web.Components.Common
<section class="my-5 pt-5 container" id="insurance">
    <h2 class="section-title text-center">Accepted Insurances</h2>
    <CardList List="Insurancescards" 
        ItemsToShow="6"
        CustomClass="card-gs-2" 
    ImageURL="insurances"/>

        <div class="row px-4 mt-4">
            <a class="border-gradient text-blue-dark text-center" href="#">Visit All Accepted Insurances</a>
        </div>
  
   
</section>

@code {
    private List<CardViewModel> Insurancescards = new();

    protected override void OnInitialized()
    {
        Insurancescards = Insurances.All.Select(i => new CardViewModel
        {
            Name = i.Name,
            Image = i.Icon,
        }).ToList();
    }
}
