<section class="container-fluid my-5 pt-5" id="insurance">
    <div class="container">
        <h2 class="section-title text-center">Accepted Insurance</h2>
        <div class="row g-4">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="insurance-card fade-in">
                    <div class="insurance-logo">Aetna</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="insurance-card fade-in">
                    <div class="insurance-logo">Cigna</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="insurance-card fade-in">
                    <div class="insurance-logo">UnitedHealth</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="insurance-card fade-in">
                    <div class="insurance-logo">Blue Cross</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="insurance-card fade-in">
                    <div class="insurance-logo">Humana</div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="insurance-card fade-in">
                    <div class="insurance-logo">Kaiser</div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
