@using Rehab.Application.Facilities
@using Rehab.EndPoint.Web.Components.Common
@using Rehab.EndPoint.Web.Components.Facility
@using Rehab.EndPoint.Web.ViewModels
@inject IFacilityService FacilityService
@inject AutoMapper.IMapper mapper

<section id="centers">
    <div class="container mt-5 mb-5">
        <h2 class="section-title text-center p-2">Our Recovery Centers</h2>
        <div class="row g-4">
            @if(FacilityCards != null && FacilityCards.Count>0)
            {
                @foreach (var facility in FacilityCards)
                {
                    <FacilityItem FacilityCard="@facility" />
                }
            }

        </div>

        <a href="/Facilities" class="btn btn-outline-primary rounded-3 w-100 text-primary" data-enhance-nav="false">Visit All</a>
    </div>
</section>

@code {
    private List<FacilityCardViewmodel>? FacilityCards { get; set; }
    protected override void OnInitialized()
    {
        FacilityCards = mapper.Map<List<FacilityCardViewmodel>>(FacilityService.GetRandomFacilityCardForHomePage(4));
    }
}
