@using Rehab.Application.Facilities
@using Rehab.EndPoint.Web.Components.Common
@using Rehab.EndPoint.Web.Components.Facility
@using Rehab.EndPoint.Web.ViewModels
@inject IFacilityService FacilityService
@inject AutoMapper.IMapper mapper

<section id="centers">
    <div class="container mt-5 mb-5">
        <h2 class="section-title text-center p-2">Our Recovery Centers</h2>
        <div class="row g-4">
            @if (FacilityCards != null && FacilityCards.Count > 0)
            {
                @foreach (var facility in FacilityCards)
                {
                    <div class="col-12 col-md-3">
                        <FacilityItem FacilityCard="@facility" />
                    </div>
                }
            }
        </div>
        <div class="row px-4 mt-4">
            <a href="/Facilities" class="border-gradient text-blue-dark text-center" data-enhance-nav="false">Visit All</a>
        </div>
    </div>
</section>

@code {
    private List<FacilityCardViewmodel>? FacilityCards { get; set; }
    protected override void OnInitialized()
    {
        FacilityCards = mapper.Map<List<FacilityCardViewmodel>>(FacilityService.GetFacilityCard(4));
    }
}
