@using Rehab.EndPoint.Web.Components.Common
@using Rehab.EndPoint.Web.ViewModels
@using Web.Data
@using AutoMapper
@using Rehab.Application.Treatments
@inject IMapper mapper
@inject ITreatmentService TreatmentService
<div class="container-fluid bg-light-gray py-4">
    <div class="container">
        <h2 class="section-title text-center">Treatments</h2>

        <div class="row mb-3 px-3 justify-content-center align-items-stretch">
            @foreach (var card in TreatmentCards)
            {
                <div class="col-12 col-md-3 mb-2">
                   <TreatmentCardComponent Card="card" prefixImageURL="@serverUrl" />
                </div>
            }
        </div>

        <div class="row px-4 mb-4">
            <a class="border-gradient text-blue-dark text-center" target="_blank" href="/TreatmentsList">Visit All Treatments</a>
        </div>

    </div>
</div>
@code {
    [Inject] IConfiguration Config { get; set; } = default!;

    private string? serverUrl;

    public List<CardViewModel> TreatmentCards = new();

    protected override void OnInitialized()
    {
        serverUrl = Config["AppSettings:AdminServerUrl"];
        TreatmentCards = mapper.Map<List<CardViewModel>>(TreatmentService.GetList());
  
    }
}
