@using Web.Data
<section class="section my-5 pt-5" id="treatment">
    <div class="container">
        <h2 class="section-title text-center mb-3">Who We Treat</h2>
        <div class="wwts-container">
            @for (int i = 0; i < WWTList.All.Count; i++)
            {
                <a class="wwt-card" target="_blank" href="/facilities?wwt=@Uri.EscapeDataString(WWTList.All[i].Name)">
                    <div class="wwt-image-container">
                        <img src="/images/wwt/@WWTList.All[i].Image" alt="@WWTList.All[i].Name" class="wwt-image" />
                        <div class="wwt-title">@WWTList.All[i].Name</div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
@code {

}
