
<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            @* <a href="index.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a> *@
            @* <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>
                Facilities    
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="facility/add" Match="NavLinkMatch.All" class="dropdown-item">Add Facility</NavLink>
                    <NavLink href="" Match="NavLinkMatch.All" class="dropdown-item">Facilities List</NavLink>
                </div>
            </div> *@

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Insurances
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="insurance/add" Match="NavLinkMatch.All" class="dropdown-item">Add Insurance</NavLink>
                    <NavLink href="insurances" class="dropdown-item" Match="NavLinkMatch.All">Insurances List</NavLink>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Accreditations
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="accreditation/add" Match="NavLinkMatch.All" class="dropdown-item">Add Accreditation</NavLink>
                    <NavLink href="accreditations" Match="NavLinkMatch.All" class="dropdown-item">Accreditations List</NavLink>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Amenities
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="amenity/add" Match="NavLinkMatch.All" class="dropdown-item">Add Amenity</NavLink>
                    <NavLink href="amenities" Match="NavLinkMatch.All" class="dropdown-item">Amenities List</NavLink>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Highlights
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="highlight/add" Match="NavLinkMatch.All" class="dropdown-item">Add Highlight</NavLink>
                    <NavLink href="highlights" Match="NavLinkMatch.All" class="dropdown-item">Highlights List</NavLink>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Who We Treat
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="wwt/add" Match="NavLinkMatch.All" class="dropdown-item">Add WWT</NavLink>
                    <NavLink href="wwts" Match="NavLinkMatch.All" class="dropdown-item">WWTs List</NavLink>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Levels of Care
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="loc/add" Match="NavLinkMatch.All" class="dropdown-item">Add LOC</NavLink>
                    <NavLink href="loc" Match="NavLinkMatch.All" class="dropdown-item">LOC List</NavLink>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-laptop me-2"></i>
                    Treatments
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <NavLink href="treatment/add" Match="NavLinkMatch.All" class="dropdown-item">Add Treatment</NavLink>
                    <NavLink href="treatments" Match="NavLinkMatch.All" class="dropdown-item">Treatments List</NavLink>
                </div>
            </div> 
            @* <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
            <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
            <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="signin.html" class="dropdown-item">Sign In</a>
                    <a href="signup.html" class="dropdown-item">Sign Up</a>
                    <a href="404.html" class="dropdown-item">404 Error</a>
                    <a href="blank.html" class="dropdown-item active">Blank Page</a>
                </div>
            </div> *@
        </div>
    </nav>
</div>
<!-- Sidebar End -->