 .btn.btn-primary-gradient {
    background: linear-gradient(135deg, #a157fc, #84c8fd);
    border: none;
    padding: 10px 22px;
    color: #fff;
    border-radius: 25px;
    font-weight: normal;
    transition: all 0.3s ease;
}


   .btn.btn-primary-gradient:hover {
        transform: translateY(-3px) scale(1.03);
        box-shadow: 0 10px 25px rgba(132, 200, 253, 0.35), 0 4px 10px rgba(161, 87, 252, 0.25);
        background: linear-gradient(135deg, #b67cff, #9ad8ff);
    }

    .btn.btn-primary-gradient:active {
        transform: translateY(0px) scale(0.98);
        box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    }
a.text-blue-dark {
    color: var(--color-secondary);
}
.border-gradient {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    border-radius: 12px;
    z-index: 1;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .border-gradient::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        border-radius: inherit;
        background: -webkit-linear-gradient(180deg, rgb(231 154 231) 1%, rgba(238, 238, 238, 1) 50%, #0dcaf0 100%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
        transition: all 0.3s ease;
    }


    .border-gradient:hover {
        background-color: rgba(220, 220, 220, 0.25);
        transform: scale(1.05);
        color: var(--color-primary);
    }

        .border-gradient:hover::before {
            filter: brightness(1.1);
        }