
.btn-primary{
    background:var(--color-primary);
    color:#fff;
    border:none;
}
    .btn-primary:hover {
        background-color: var(--color-secondary);
    }

.btn-secondary {
    background-color: var(--color-secondary);
    color: #fff;
    border: none;
}
    .btn-secondary:hover {
        background: var(--color-primary);
    }
.bg-soft-blue {
    background-color: var(--color-soft-blue);
}
.text-secondary-blue {
    color: var(--color-blue-secondary);
}
.nav-link {
    color: var(--color-text-primary);
}