<div id="alphabet-filter" ></div>
<div id="states-list" ></div>
<script type="text/javascript" src="/js/stateAlphabetFilter.js"></script>

<style>

    button.btn_alphabet {
        margin: 4px;
        padding: 8px 12px;
        border: 1px solid #0056b3;
        border-radius: 5px;
        cursor: pointer;
        background: #f9f9f9;
        color: #0056b3;
    }
  

    button.btn_alphabet:hover {
        background: #0056b3;
        color:#fff;
    }

    button.btn_alphabet.active {
        background: #0056b3;
        color: white;
    }

    #states-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
    }
    .state-link{
        
        color: #0056b3;
        text-decoration: none;
    }
</style>