path {
    fill: #88a4bc;
    pointer-events: all;
}
  .state-link {
        color: #0d6efd;
        text-decoration: none;
    }
.state ,.state-shape {
    fill: #88a4bc;
}
.borders {
    stroke: #FFFFFF;
    stroke-width: 1
}
.dccircle {
    display: yes
}
.separator1 {
    stroke: #B0B0B0;
    stroke-width: 2
}

path:hover, .state-shape.hovered {
    fill: #0056b3;
    cursor: pointer;
}
.state-label {
    font-family: sans-serif;
    font-size: 20px;
    fill: #fff;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
}



#state-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style-type: none;
    padding: 0;
}
    #state-list li {
        width: 36px;
        height: 36px;
        background-color: #88a4bc;
        padding: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
    }
    #state-list a {
        text-decoration: none;
        font-size: 12px;
        color: #fff;
        display: inline-block;
        width: 100%;
        padding: 5px;
    }
    #state-list li.hovered {
        background: #0056b3;
        font-weight: bold;
    }

 