@using Rehab.EndPoint.AdminPanel.Viewmodels
<label class="text-decoration-underline mt-0 mb-2 text-lg-center">Insurances Information</label>
<div class="row">
    <div class="col-5">
        <div class="col rounded-2" style="border:solid 1px gray;background-color:white;z-index:500;">
            <div class="bg-info rounded-top p-1 text-center text-white">Insurances List</div>
            <div style="min-height:362px;max-height:362px;overflow-y:scroll;z-index:1000;background-color:white"></div>
        </div>
    </div>
    <div class="col-2">
        <div class="rounded-2" style="border:solid 1px gray;background-color:white;z-index:1000">
            <div class="bg-info rounded-top p-1 text-center text-white" style="max-height:33px;overflow:hidden">Add / Remove</div>
            <div style="min-height:362px;max-height:362px;" class="d-flex align-items-center text-center">
                <div class="w-100">
                    <button type="button" class="btn btn-light btn-outline-success my-2" style="width:95%;">Add&gt;</button>
                    <button type="button" class="btn btn-light btn-outline-danger my-2 overflow-hidden" style="width:95%;">&lt;Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="col rounded-2" style="border:solid 1px gray;background-color:white;z-index:500">
            <div class="bg-info rounded-top p-1 text-center text-white">Selected List</div>
            <div style="min-height:362px;max-height:362px;overflow-y:scroll;z-index:1000;background-color:white;">
                
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public FacilityViewmodel Facility { get; set; } = new();
}