@using Rehab.EndPoint.AdminPanel.Viewmodels
<label class="text-decoration-underline mt-0 mb-2 text-lg-center">Insurances Information</label>
<div class="row">
    <div class="col-5 border-1 h-100">

    </div>
    <div class="col-2"></div>
    <div class="col-5"></div>
</div>



@code {
    [Parameter]
    public FacilityViewmodel Facility { get; set; } = new();
}