@typeparam TModel


@if (IsVisible)
{
    <div class="custom-modal-overlay">
        <div class="custom-modal-content">
            <button type="button" class="btn-close" @onclick="Close"
            style="position: absolute; top: 6px; right: 6px;z-index:2000"></button>
            <img src="@Image" class="img-fluid custom-image" />
        </div>
    </div>
}
@code {
    [Parameter] public TModel Model { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Image { get; set; }
    public bool IsVisible { get; set; }

    public void Show()
    {
        IsVisible = true;
        InvokeAsync(StateHasChanged);
    }
    public void Close() => IsVisible = false;
}
