.footer a {
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    font-size: 0.8rem;
}
.btn-blue {
    border: none;
    background-color: #007bff;
    color:white;
}
.footer-top{
    padding-top:100px;
    padding-bottom:100px;
}
.footer-bottom {
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
}
.fixed-footer {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
h5.footer-section-title {
    color: rgb(42 247 254) !important;
}
.footer ul {
    margin-top: 30px;
}
.footer ul li {
    margin-top: 10px;
}
