
<footer id="footer" class="bg-light footer">
    <div class="footer-top bg-blue-dark">
        <div class="px-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4 footer-brand-col ">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <img src="/images/logo.png" class="logo-icon" alt="Rehab Logo" />
                            </div>
                            <div class="col-10">
                                <h3 class="footer-site-name brand-name">
                                    RehabNavigator
                                </h3>
                            </div>
                        </div>
                        <div class="brand-divider"></div>
                        <div class="row">
                            <p>
                                A treatment center directory and recovery resource platform helping people explore rehab centers, mental health providers, insurance information, and facility details.
                            </p>
                        </div>
                        <div class="d-flex social-icons">
                            <a href="https://www.linkedin.com/company/rehab-navigator/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=61575939311108"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/rehab_navigator/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <h5 class="mb-3 text-white footer-section-title">
                            <i class="fa-solid fa-crown"></i>
                            Top States
                        </h5>
                        <ul class="list-unstyled">
                            <li><a href="/states/California" class="text-white" target="_blank">Facilities In California</a></li>
                            <li><a href="/states/Florida" class="text-white" target="_blank">Facilities in Florida</a></li>
                            <li><a href="/states/Texas" class="text-white" target="_blank">Facilities in Texas</a></li>
                            <li><a href="/states/Arizona" class="text-white" target="_blank">Facilities in Arizona</a></li>
                            <li><a href="/states/New-York" class="text-white" target="_blank">Facilities in New York</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-2">
                        <h5 class="mb-3 text-white footer-section-title">
                            <i class="fa-solid fa-file-lines"></i>
                            Resources
                        </h5>
                        <ul class="list-unstyled">
                            <li><a href="/Treatment-faq" class="text-white" target="_blank">Treatment FAQ</a></li>
                            <li><a href="/conditionslist" class="text-white" target="_blank">Conditions & Concerns</a></li>
                            <li><a href="/treatmentslist" class="text-white" target="_blank">Treatment Approaches</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-2">
                        <h5 class="mb-3 text-light footer-section-title">
                            <i class="fa-solid fa-circle-info"></i>
                            About Us
                        </h5>
                        <ul class="list-unstyled">
                            <li><a href="/about-us/our-story" class="text-white" target="_blank">Our Story</a></li>
                            <li><a href="/contact-us" class="text-white" target="_blank">Contact</a></li>
                            <li><a href="/privacy-policy" class="text-white" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-2">
                        <h5 class="mb-3 text-white footer-section-title">
                            <i class="fa-solid fa-phone"></i>
                            For Providers
                        </h5>
                        <ul class="list-unstyled ">
                            <li><a href="/claim-your-profile" class="text-white" target="_blank">Claim Your Profile</a></li>
                            <li><a href="/packages" class="text-white" target="_blank">Advertise With Us</a></li>
@*                             <li><a href="/packages" class="text-white" target="_blank">Plans & Pricing</a></li>
 *@                       </ul>

                    </div>
                </div>
            </div>
            <h5 class="copywrite" >
                © 2026 Rehab Navigator. All rights reserved.
            </h5>
        </div>

        <div class="footer-bottom py-2 text-light d-flex justify-content-center align-items-center">

            <div class="d-none d-sm-flex  col-md-4 px-3 align-items-center">
                <a href="https://rehabnavigator.com" target="_blank">
                    <img src="/images/Logo2.svg" width="256" />
                </a>

            </div>

            <div class="col-md-4  ">
                @* <button class="btn btn-primary-gradient m-0" data-bs-toggle="modal" data-bs-target="#facilitySearchModal">
                Find Facility Near You
            </button> *@

            </div>
            <div class="d-none d-sm-flex  col-md-4  justify-content-end px-3">

                <h3 class="fs-5">
                    <a class="footer-tell" href="tel:+14157696590">
                        <i class="fa-solid fa-phone"></i> +1(415)769-6590
                    </a>
                </h3>
                <!-- Scroll To Top Button -->
                <button id="scrollToTopBtn" class="btn btn-secondary rounded-circle shadow-sm " title="Scroll To Top">
                    <i class="fa-solid fa-arrow-up m-auto"></i>
                </button>
            </div>
        </div>
    </div>
</footer>
