@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<footer id="footer" class="bg-dark text-white text-center footer">
    <div class="container">
        <div class="d-flex justify-content-center flex-wrap gap-4 mb-4">
            <NavLink class="footer-link" href="/About-us">About us</NavLink>
            <NavLink class="footer-link" href="/Privacy-Policy">Privacy Policy</NavLink>
            <NavLink class="footer-link" href="/terms-of-service">Terms of Service</NavLink>
            <NavLink class="footer-link" href="/contact-us">Contact Us</NavLink>
            <NavLink class="footer-link" href="/faq">FAQ</NavLink>
        </div>
 
        @if (IsExpanded)
        {
            <p class="mb-2">&copy; 2025 Rehab Navigator Recovery Centers. All rights reserved.</p>
            <p class="mb-0">Supporting your journey to wellness with compassion and expertise.</p>
        }  
    </div>
</footer>

@code {
    private bool IsExpanded;

 
    protected override void OnAfterRender(bool firstRender)
    {
    
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("footerScrollWatcher.init",
            DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public void SetFooterExpanded(bool expanded)
    {
        if (IsExpanded != expanded)
        {
            IsExpanded = expanded;
            StateHasChanged(); 
        }
    }
   
}