
<footer id="footer" class="bg-light footer">
    <div class="footer-top bg-dark">
        <div class="px-5">
            <div class="row">
              @*   <a class="col-md-3 text-decoration-none text-white fs-3 d-flex flex-column align-items-center" href="/">
                    <img src="/images/logo.png" width="128" alt="Rehab Logo" class="footer-logo mb-3" />
                    Rehab Navigator
                </a> *@
                <div class="col-12 col-sm-3">
                    <h5 class="mb-3 text-white footer-section-title">
                        <i class="fa-solid fa-star"></i>
                        Popular Centers
                    </h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white" target="_blank">Best Detox Programs</a></li>
                        <li><a href="#" class="text-white" target="_blank">Best Outpatient Programs</a></li>
                        <li><a href="#" class="text-white" target="_blank">Best Virtual Programs</a></li>
                        <li><a href="#" class="text-white" target="_blank">Best Inpatient Programs</a></li>
                        <li><a href="#" class="text-white" target="_blank">Best Sober Living Programs</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3">
                    <h5 class="mb-3 text-white footer-section-title">
                        <i class="fa-solid fa-crown"></i>
                        Top States
                    </h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white" target="_blank">Facilities In California</a></li>
                        <li><a href="#" class="text-white" target="_blank">Facilities In Florida</a></li>
                        <li><a href="#" class="text-white" target="_blank">Facilities In Arizona</a></li>
                        <li><a href="#" class="text-white" target="_blank">Best Inpatient Programs</a></li>
                        <li><a href="#" class="text-white" target="_blank">Facilities In New York</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3">
                    <h5 class="mb-3 text-light footer-section-title">
                        <i class="fa-solid fa-circle-info"></i>
                        About Us
                    </h5>
                    <ul class="list-unstyled">
                        <li><a href="/about-us" class="text-white" target="_blank">Our Story</a></li>
                        <li><a href="/team" class="text-white" target="_blank">Team</a></li>
                        <li><a href="/careers" class="text-white" target="_blank">Careers</a></li>
                        <li><a href="/blog" class="text-white" target="_blank">Blog</a></li>
                        <li><a href="/privacy-policy" class="text-white" target="_blank">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3">
                    <h5 class="mb-3 text-white footer-section-title">
                        <i class="fa-solid fa-phone"></i>
                        Contact Us
                    </h5>
                    <ul class="list-unstyled">
                        <li><a href="/contact-us" class="text-white" target="_blank">Contact</a></li>
                        <li><a href="mailto:info@rehabnavigator.com" class="text-white" target="_blank">Email Us</a></li>
                        <li><a href="tel:+14157696590" class="text-white" >Phone: +1 (415) 769-6590</a></li>
                        <li><a href="/faq" class="text-white" target="_blank">FAQ</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <h5 class="m-0 p-2 text-center fw-normal fs-5" style="color:#565757">
            © 2025 Rehab Navigator. All rights reserved.
        </h5>
    </div>
   
    <div class="footer-bottom py-2 text-light d-flex justify-content-center align-items-center">
 
        <div class="d-none d-sm-flex  col-md-4 px-3 align-items-center">
            <img src="/images/Logo2.svg" width="256" />
           
        </div>

        <div class="col-md-4 text-center">
            <button class="btn btn-primary-gradient m-0" data-bs-toggle="modal" data-bs-target="#facilitySearchModal">
                Find Facility Near You
            </button>
        </div>
        <div class="d-none d-sm-flex  col-md-4  justify-content-end px-3">

            <h3 class="fs-5">
                <a class="footer-tell" href="tel:+14157696590"> 
                    <i class="fa-solid fa-phone"></i> +1(415)769-6590</a>
            </h3>
            <!-- Scroll To Top Button -->
            <button id="scrollToTopBtn" class="btn btn-secondary rounded-circle shadow-sm" title="Scroll To Top">
                <i class="fa-solid fa-arrow-up"></i>
            </button>
        </div>
        </div>
 
</footer>
