@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<NavMenu />
<div class="main-body">
    @Body
</div>
<Footer />

<style>
    .main-body {
        padding-bottom:150px;
    }
</style>