
.custom-modal {
    width: 80vw;
    height: 80vh;
    max-width: none;

}

    .custom-modal .modal-content {
        height: 100%;
        border-radius: 10px;

    }

.bg-gradient-rehab {
    background: #ffe3ff;
    background: linear-gradient(90deg,rgba(255, 227, 255, 1) 1%, rgba(176, 225, 247, 1) 50%, rgba(139, 226, 240, 1) 100%);
}

.autocomplete-container {
    padding: 0;
    position: relative;
}

.center-name {
    width: 30%
}

.center-city {
    width: 20%;
}

.center-state {
    width: 20%;
}

.center-condition {
    width: 25%;
}

.search-btn {
    width: 5%;
    background-color: #0061ca;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 35px;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

    input[type="text"]:focus-visible {
        outline: none;
    }

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
 
}



    .autocomplete-item:hover {
        background-color: #f0f0f0;
    }
.facilities-list {
    padding-top:20px;
    height: calc(100vh - 300px);
    overflow-y: auto;
}
.facility-filter {
    padding-top: 20px;
    height: calc(100vh - 300px);
    overflow-y:scroll;
}
.faciliti-filter-scroll {
    background-color: #eee;
    padding: 0px 10px;
    border-radius: 5px;
}
@media screen and (max-width: 980px) {
    .autocomplete-container{
        width:100%;
        padding-left:15px;
        border-bottom :solid 1px #eee;
    }
    .search-btn {
        width: 100%;
        background-color: #0061ca;
        padding-right: 35px;
        right: 0;
        height: 100%;
        display: flex;
        position: absolute;
        height: auto;
        bottom: 0px;
        top: 80%;
        border-radius: 0px 0px 30px 30px;
        display: flex;
        justify-content: center;
    }
    .center-condition{
        margin-bottom:50px;
    }
    .modal-body {
        overflow-y: scroll;
    }
    .facilities-list-container {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .custom-modal {
        width: 98%;
    }
    .facilities-list{
        width:100%;
    }
    .facility-filter{
        width:100%;

    }
    .facility-card {
        width: 50%;
    }
}
