.mega-menu{
    background-color: #e1ecf7;
}
.nav-tabs {
     padding: 0px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    border: none !important;
}

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border: none;
    }

li.nav-item {
    font-size: 0.8rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #5296e0;
    border: solid 1px #e4e9e9;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

::deep .tab-content a {
    text-decoration: none !important;
    font-size: 0.8rem !important;
}
div#treatmentTabsContent {
    background-color: #fff;
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: gray 2px 2px 4px 0px;
}
::deep .united-states a{
    color:dimgrey;
}
    ::deep .united-states a:hover {
        background-color: dimgrey;
       color: #fff;
    }
/*.nav-item-mega .mega-menu {
    background-color:#eee;
}*/