<div class="mega-menu container ">

    <div class="bg-white mx-2 px-5 py-3 position-relative rounded-bottom-3">
        <div class="row p-2 border border-1 rounded-2 align-items-center">
            <div class="col-md-4 border-end px-0 py-0">
                <input type="text" class="border-0 focus-none w-100" placeholder="Enter facility name..." />

            </div>
            <div class="col-md-3 border-end  py-0">
                <input type="text" class="border-0 focus-none w-100" placeholder="State name...">

            </div>

            <div class="col-md-4 border-end  py-0">
                <input type="text" class="border-0 focus-none w-100" placeholder="Condition" />

            </div>
            <div class="col-md-1  d-flex justify-content-end align-items-center">
                <a class="text-primary" href="#">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 ps-0">
                        <div class="d-flex align-items-center">
                            <img src="/images/icons/Location.png" />
                            <h5 class="megamenu-items-title">Popular Cities</h5>
                        </div>
                        <div class="megamenu-item-content ps-1">
                            <ul class="mega-list">
                                <li><a href="#">Austin</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">San Francisco</a></li>
                                <li><a href="#">New Yourk</a></li>
                                <li><a href="#">Boston</a></li>
                                <li><a href="#">Chicago</a></li>
                                <li><a href="#">Denver</a></li>
                                <li><a class="more" href="#">More...</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 ps-0">
                        <div class="d-flex align-items-center">
                            <img src="/images/icons/Brain.png" />
                            <h5 class="megamenu-items-title">Common Conditions</h5>
                        </div>
                        <div class="megamenu-item-content ps-1">
                            <ul class="mega-list">
                                <li><a href="#">ADHD</a></li>
                                <li><a href="#">Thrauma</a></li>
                                <li><a href="#">OCD</a></li>
                                <li><a href="#">Anxiety</a></li>
                                <li><a href="#">Depression</a></li>
                                <li><a href="#">PTSD</a></li>

                                <li><a class="more" href="#">More...</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex align-items-center">
                            <img src="/images/icons/BrainPlus.png" />
                            <h5 class="megamenu-items-title">Top Treatments</h5>
                        </div>
                        <div class="megamenu-item-content ps-1">
                            <ul class="mega-list">
                                <li><a href="#">Detox</a></li>
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">Inpatient</a></li>
                                <li><a href="#">Virtual</a></li>
                                <li><a href="#">Sobber Living</a></li>
                                <li><a class="more" href="#">More...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-2">
                    <img src="/images/icons/Favorite.png" />
                    <h5 class="megamenu-items-title">Popular Centers</h5>
                </div>
                <div class="megamenu-item-content ps-1">
                    <ul class="mega-list mega-pop-facilities">
                        <li class="row">
                           <div class="col-5">
                               <img class="w-100 rounded-3" src="/images/FacilitiesSample/1.jpg" />
                           </div>
                           <div class="col-7">
                               <h6 class="megamenu-items-title">
                                   <a href="#">Facility Name</a>
                                </h6>
                               <p class="mb-0">Location: City, State</p>
                                <p class="mb-0">  Rating: <span class="rating-stars">★★★★☆</span> </p>
                           </div>
                        </li>
                        <li class="row">
                            <div class="col-5">
                                <img class="w-100 rounded-3" src="/images/FacilitiesSample/1.jpg" />
                            </div>
                            <div class="col-7">
                                <h6 class="megamenu-items-title">
                                    <a href="#">Facility Name</a>
                                </h6>
                                <p class="mb-0">Location: City, State</p>
                                <p class="mb-0">  Rating: <span class="rating-stars">★★★★☆</span> </p>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-5">
                                <img class="w-100 rounded-3" src="/images/FacilitiesSample/1.jpg" />
                            </div>
                            <div class="col-7">
                                <h6 class="megamenu-items-title">
                                    <a href="#">Facility Name</a>
                                </h6>
                                <p class="mb-0">Location: City, State</p>
                                <p class="mb-0">  Rating: <span class="rating-stars">★★★★☆</span> </p>
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-5">
                                <img class="w-100 rounded-3" src="/images/FacilitiesSample/1.jpg" />
                            </div>
                            <div class="col-7">
                                <h6 class="megamenu-items-title">
                                    <a href="#">Facility Name</a>
                                </h6>
                                <p class="mb-0">Location: City, State</p>
                                <p class="mb-0">  Rating: <span class="rating-stars">★★★★☆</span> </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <hr class="hr-split" />
            <ul class="mega-footer">
                <li><a href="#">Amenities </a></li>
                <li><a href="#">Accrediations</a></li>
                <li><a href="#">Hilights</a></li>
                <li><a href="#">Who We Treats</a></li>
                <li><a href="#">Treatments</a></li>
                <li><a href="#">Conditions</a></li>
                <li><a href="#">Substances We </a></li>
            </ul>
        </div>
    </div>
</div>


