@using Web.Data
<div class="amenities-container">
    @for (int i = 0; i < Amenities.All.Count; i++)
    {
        <a class="amenity-card" target="_blank" href="/amenities/@Amenities.All[i].Name">
            <div class="amenity-image-container">
                <img src="/images/Amenities/@Amenities.All[i].Image" alt="@Amenities.All[i].Name" class="amenity-image" />
            </div>
            <div class="amenity-title">@Amenities.All[i].Name</div>
        </a>
    }
</div>