::deep .card-image {
    filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(7498%) hue-rotate(200deg) brightness(95%) contrast(95%);
    transition: filter 0.3s ease, transform 0.3s ease;
}
