@using Web.Data
@using Rehab.EndPoint.Web.ViewModels
<div class="conditions-container">
    <CardList List="ConditionsCards" 
        CustomClass="card-gs-3" 
        ImageURL="Conditions"
       
    >
    </CardList>
</div>






 
@code {
    // [Parameter]
    // public int number { get; set; }
    private List<CardViewModel> ConditionsCards = new();
    protected override void OnInitialized()
    {
        ConditionsCards = Conditions.All.Select(i => new CardViewModel
            {
                Name = i.Name,
                Image = i.Icon,
                
            }).ToList();
    }
}