.card.special {
    background: #ffe3ff;
    background: -webkit-linear-gradient(180deg, rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFE3FF", endColorstr="#D4F9FF", GradientType=0 );
    transition: transform 0.2s;
}

h5.card-title {
    text-align: center;
    font-size: 12px;
    color: rgb(11 99 192) !important;
}

p.card-text {
    font-size: 12px;
}


.card-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 75px;
    max-height: 75px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(7498%) hue-rotate(200deg) brightness(95%) contrast(95%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

a.show-facilities-btn {
    background-color: #0d6efd;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: normal;
}

    a.show-facilities-btn:hover {
        border: solid 1px #0d6efd;
        background-color: none;
    }
