@using Web.Data
<div class="conditions-container">
    @for (int i = 0; i < Conditions.All.Count; i++)
    {
        <a class="condition-card" target="_blank" href="/Conditions/@Conditions.All[i].Name">
            <div class="condition-image-container">
                <img src="/images/Conditions/@Conditions.All[i].Image" alt="@Conditions.All[i].Name" class="condition-image" />
            </div>
            <div class="condition-title">@Conditions.All[i].Name</div>
        </a>
    }
</div>