@using Web.Data
@using Rehab.EndPoint.Web.ViewModels
@using Rehab.EndPoint.Web.Components.Common
<div class="insurances-container">
    <CardList List="Insurancescards"
              CustomClass="card-gs-2" 
              ImageURL="insurances"
              HrefTarget="_blank"
              />
</div>
@code {
    private List<CardViewModel> Insurancescards = new();

    protected override void OnInitialized()
    {
        Insurancescards = Insurances.All.Select(i => new CardViewModel
        {
            Name = i.Name,
            Image = i.Icon,
            Link = "/facilities?insurance=" + @Uri.EscapeDataString(i.Name)
        }).ToList();
    }
}