<div class="cover-container"
     style="background-image: linear-gradient(rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)), url('@(string.IsNullOrEmpty(CustomImageUrl) ? "/pagecover-nopic.png" : CustomImageUrl)');">

    <img class="cover-logo" src="@(string.IsNullOrEmpty(CustomLogoURL) ? "/logo-nopic.png" : CustomLogoURL)" alt="@PageTitle" />

     <h1>@PageTitle</h1>
</div>

@code {

    [Parameter] public string? CustomImageUrl { get; set; }
    [Parameter] public string? PageTitle { get; set; } = string.Empty;
    [Parameter] public string? CustomLogoURL { get; set; }

}
<style>
    .cover-container {
        position: relative;
        width: 100%;
        height: 400px;  
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

        .cover-container h1{
            color:#fff
        }

    .cover-content {
        text-align: center;
        color: #fff; 
    }

    .cover-logo {
        border-radius: 50%;
        max-width: 150px; 
        margin-bottom: 20px;
        box-shadow: 6px 4px 12px 6px rgba(0, 0, 0, 0.2);
    }

    .cover-content h1 {
        font-size: 2rem;
        font-weight: bold;
    }
</style>
