<div class="container bg-white py-2 rounded-3 border position-relative">
  
    <div class="col-md-11 autocomplete-container">
        <input type="text"  @bind-value="searchTextFromComponent" class="border-0" placeholder="Facility Name..">
        @* <div class="autocomplete-list"></div> *@
    </div>
 
    <div class="col-md-1 search-btn pointer-event" @onclick="ApplySearchText" @onclick:preventDefault>
        @* <a href="#"> *@
            <i class="fa-solid fs-4 mt-1 fa-magnifying-glass text-white fw-bold"></i>
            <span class="search-text d-inline-block d-md-none text-white">Search</span>
        @* </a> *@
    </div>
</div>

@code{
    [Parameter] public string? searchTextFromComponent { get; set; }
    [Parameter] public EventCallback<string> ApplySearchTextCallback { get; set; }


    public async Task ApplySearchText()
    {
        await ApplySearchTextCallback.InvokeAsync(searchTextFromComponent);
    }


}