<div class="d-flex flex-column sidebar-wrapper">
    <label for="sidebarToggle" class="sidebar-toggle w-100">
        <span class="open-text"> <i class="fas fa-angle-double-right"></i></span>
        <span class="hamburger">
            <i class="fas fa-angle-double-left"></i>
        </span>
    </label>
    <div class="popular-centers sidebar">
        <h3 class="sidebar-header mb-3">
            Common Conditions
        </h3>
        <nav aria-label="Browse facilities by condition">
            <ul>
                <li>
                    <a href="/facilities?condition=Anxiety" target="_blank" aria-label="View facilities for Anxiety treatment" title="Anxiety">
                        <i class="bi bi-cloud-drizzle"></i>
                        <span>Anxiety</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?condition=depression" target="_blank" aria-label="View facilities for Depression treatment" title="Depression">
                        <i class="bi bi-moon-stars"></i>
                        <span>Depression</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?condition=PTSD" target="_blank" aria-label="View facilities for PTSD treatment" title="PTSD">
                        <i class="bi bi-shield-exclamation"></i>
                        <span>PTSD</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?condition=ADHD%2C%20ADD" target="_blank" aria-label="View facilities for ADHD, ADD treatment" title="ADHD, ADD">
                        <i class="bi bi-lightning-charge"></i>
                        <span>ADHD, ADD</span>
                    </a>
                </li>
                <li>

                    <a href="/facilities?condition=Bipolar" target="_blank" aria-label="View facilities for Bipolar treatment" title="Bipolar">
                        <i class="bi bi-moon-stars"></i>
                        <span>Bipolar</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?condition=Trauma" target="_blank" aria-label="View facilities for Trauma treatment" title="Trauma">
                        <i class="bi bi-heartbreak"></i>
                        <span>Trauma</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="popular-centers sidebar">
        <h3 class="sidebar-header mb-3">
            Treatment Options
        </h3>
        <nav aria-label="Browse facilities by Treatments">
            <ul>
                <li> 
                    <a href="/facilities?treatment=Cognitive%20Behavioral%20Therapy" target="_blank"
                        aria-label="View facilities for Cognitive Behavioral Therapy treatment" title="Cognitive Behavioral Therapy">
                        <i class="bi bi-chat-square-text"></i>
                        <span>Cognitive Behavioral Therapy</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?treatment=Medication-Assisted%20Treatment" target="_blank" 
                    aria-label="View facilities for Medication-Assisted Treatment" title="Medication-Assisted Treatment">
                        <i class="bi bi-capsule"></i>
                        <span>Medication-Assisted Treatment </span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?treatment=1-on-1%20Counseling" target="_blank"
                       aria-label="View facilities for Individual Counseling " title="Individual Counseling ">
                        <i class="bi bi-person-heart"></i>
                        <span>1-on-1 Counseling </span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?treatment=Group%20Therapy" target="_blank"
                       aria-label="View facilities for Group Therapy" title="Group Therapy">
                        <i class="bi bi-people"></i>
                        <span>Group Therapy </span>
                    </a>
                </li>
                <li>

                    <a href="/facilities?treatment=Family%20Therapy" target="_blank"
                       aria-label="View facilities for Family Therapy" title="Family Therapy">
                        <i class="bi-house-heart"></i>
                        <span>Family Therapy</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?treatment=Eye%20Movement%20Therapy%20%28EMDR%29" target="_blank"
                       aria-label="View facilities for EMDR " title="EMDR">
                        <i class="bi bi-eye"></i>
                        <span>EMDR</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="popular-centers sidebar">
        <h3 class="sidebar-header mb-3">
            Levels of Care
        </h3>
        <nav aria-label="Browse facilities by Treatments">
            <ul>
                <li>
                    <a href="/Facilities?LOC=Detox" aria-label="View facilities for Detox" target="_blank" title="Detox">
                        <i class="bi bi-droplet-half"></i>
                        <span>Detox</span>
                    </a>
                </li>
                <li>
                    <a href="/Facilities?LOC=Residntial" target="_blank" aria-label="View facilities with Residntial level of care" title="Residential">
                        <i class="bi bi-building"></i>
                        <span>Residential </span>
                    </a>
                </li>
                <li>
                    <a href="/Facilities?LOC=Intensive%20Outpatient%20Program" target="_blank" aria-label="View facilities with Intensive Outpatient Program " title="Intensive Outpatient Program ">
                        <i class="bi bi-calendar-check"></i>
                        <span>Intensive Outpatient Program </span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?loc=Outpatient" target="_blank"  aria-label="View facilities with Outpatient" title="Outpatient">
                        <i class="bi bi-door-open"></i>
                        <span>Outpatient </span>
                    </a>
                </li>
                <li>

                    <a href="/facilities?loc=virtual" target="_blank" aria-label="View facilities with Virtual" title="Virtual">
                        <i class="bi bi-camera-video"></i>
                        <span>Virtual</span>
                    </a>
                </li>
                <li>
                    <a href="/facilities?loc=Sober%Companion" target="_blank" aria-label="View facilities with Sober Companion " title="Sober Living">
                        <i class="bi bi-house-check"></i>
                        <span>Sober Living</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="popular-centers sidebar mt-5">
        <h3 class="sidebar-header">
            Top States
        </h3>
        <ul>
            <li>
                <a href="/states/california" target="_blank" title="Facilities In California"> <i class="bi bi-geo-alt-fill"></i><span>Facilities In California</span> </a>
            </li>
            <li>
                <a href="/states/Florida" target="_blank" title="Facilities In Florida"> <i class="bi bi-geo-alt-fill"></i><span>Facilities In Florida</span></a>
            </li>
            <li>
                <a href="/states/texas" target="_blank" title="Facilities In Florida"> <i class="bi bi-geo-alt-fill"></i><span>Facilities In Texas</span></a>
            </li>



        </ul>
    </div>



</div>
<div class="provider-card mt-3">
    <p class="card-title">For Providers</p>
    <p class="card-desc">Manage your facility profile or explore advertising options for greater visibility.</p>
    @*     <button class="btn-primary">Claim Your Profile</button>
 *@    <button class="btn-primary">Advertise With Us</button>
</div>