<label for="sidebarToggle" class="sidebar-toggle">
    <span class="open-text">Toggle Sidebar</span>
    <span class="hamburger">
        <i class="bi bi-list"></i>
    </span>
</label>
<div class="popular-centers sidebar">
    <h3 class="sidebar-header">
        Popular Facilities
    </h3>
    <ul>
        <li><a href="#" title="1-on-1 Counseling"><i class="bi bi-person"></i><span>1-on-1 Counseling</span></a></li>
        <li><a href="#" title="ACT Therapy"><i class="bi bi-heart"></i><span>ACT Therapy</span></a></li>
        <li><a href="#" title="Acupuncture"><i class="bi bi-flower1"></i><span>Acupuncture</span></a></li>
        <li><a href="#" title="Yoga"><i class="bi bi-activity"></i><span>Yoga</span></a></li>
        <li><a href="#" title="Weight Loss"><i class="bi bi-speedometer"></i><span>Weight Loss</span></a></li>
        <li><a href="#" title="Life Skills"><i class="bi bi-lightbulb"></i><span>Life Skills</span></a></li>

    </ul>
</div>
<div class="popular-centers sidebar mt-5">
    <h3 class="sidebar-header">
        Top States
    </h3>
    <ul>
        <li>
            <a href="#" title="Facilities In California"> <i class=" class=" bi bi-person""></i><span>Facilities In California</span> </a>
        </li>
        <li>
            <a href="#" title="Facilities In Florida"> <i class="bi bi-geo-alt-fill"></i><span>Facilities In Florida</span></a>
        </li>
        <li>
            <a href="#" title="Facilities In Arizona"> <i class="bi bi-geo-alt-fill"></i><span>Facilities In Arizona</span></a>
        </li>
        <li>
            <a href="#" title="Facilities In New York"> <i class="bi bi-geo-alt-fill"></i><span>Facilities In New York</span></a>
        </li>


    </ul>
</div>
 
