
 <div>
    <ul class="nav nav-tabs">
        @foreach (var tab in Tabs)
        {
            <li class="nav-item">
                <button class="nav-link @(tab.IsActive ? "active" : "")"
                        @onclick="() => ActivateTab(tab)">
                    @tab.Title
                </button>
            </li>
        }
    </ul>
    <div class="tab-content p-3 border border-top-0 rounded-bottom">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
    </div>
@code {

    private List<Tab> Tabs { get; } = new();
   
    [Parameter] public RenderFragment? ChildContent { get; set; }

    internal void AddTab(Tab tab)
    {
        if (!Tabs.Any(t => t.IsActive))
            tab.IsActive = true;

        Tabs.Add(tab);
        StateHasChanged();
    }

    private void ActivateTab(Tab tabToActivate)
    {
        foreach (var tab in Tabs)
            tab.IsActive = false;

        tabToActivate.IsActive = true;
        StateHasChanged();
    }
}
