.card.special {
    background: #ffe3ff;
    background: -webkit-linear-gradient(180deg, rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    background: -moz-linear-gradient(180deg,rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 227, 255, 1) 1%, rgba(238, 238, 238, 1) 50%, rgba(212, 249, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#FFE3FF", endColorstr="#D4F9FF", GradientType=0 );
    transition: transform 0.2s;
}
.card-img-fixed {
    height: 180px;
    object-fit: cover;
    width: 100%;
}
h5.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.card-text {
    font-size: 0.8rem;
}

.btn-link-arrow {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    border: none;
    padding: 0;
    color: #0d6efd;
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

    .btn-link-arrow .arrow {
        display: inline-block;
        transition: transform 0.3s ease;
    }


    .btn-link-arrow:hover .arrow {
        transform: translateX(8px);
        /
    }

    .btn-link-arrow::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: currentColor;
        transition: width 0.3s ease;
    }

    .btn-link-arrow:hover::after {
        width: 100%;
    }
