@using Web.Data
@using Rehab.EndPoint.Web.ViewModels


    <a class="wwt-card" target="_blank" href="/facilities?wwt=@Uri.EscapeDataString(@Card.Name)">
            <div class="wwt-image-container">
            <img src="@PrefixImageURL/@Card.Image" alt="@Card.Name" class="wwt-image" />
            <div class="wwt-title">@Card.Name</div>
            </div>
        </a>
    


@code {
    [Parameter] public string CustomClass { get; set; }
    [Parameter] public CardViewModel Card{ get; set; }
    [Parameter] public string PrefixImageURL { get; set; }
}
