@page "/blogarchive"
<div class="container mt-4">
    <div class="d-flex gap-1">
        <h3 class="fs-5  fw-normal text-uppercase blog-page-title">Article Archive</h3>
        <hr class="flex-grow-1 blog-title-line ms-5" />
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>

</div>

@code {

}
<style>
    .blog-page-title{
        color: var(--color-secondary);
    }
</style>

