@page "/Conditions"
@using Rehab.EndPoint.Web.ViewModels
@using Rehab.EndPoint.Web.Data
@using Rehab.EndPoint.Web.Components.Common

<div class="container">
    <div class="row my-4">
        <div class="col-md-9">
            <h2 class="page-title">Conditions</h2>
            <div class="">
                <input class="search-input rounded-3 p-2 bg-white w-100 fs-7" placeholder="Condition name" />
            </div>
            <div class="top-conditions mt-4">
                <h3 class="section-title">
                    Most Common Conditions
                </h3>
                <div class="row mb-3 px-0 align-items-stretch">
                    @foreach (var card in SpecialConditionsCards)
                    {
                     <ConditionCardComponent Card="card" CustomClass="special">

                     </ConditionCardComponent>
                    }
                </div>
            </div>
            <div class="all-conditions mt-3">
                <h3 class="section-title">
                   All Conditions
                </h3>
                <div class="row mb-3 px-0 align-items-stretch">
                    @foreach (var card in AllConditionsCards)
                    {
                        <ConditionCardComponent Card="card" >

                        </ConditionCardComponent>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="popular-centers sidebar">
                <h3 class="sidebar-header">
                    Popular Facilities
                </h3>
                <ul>
                    <li>
                        <a href="#">Best Detox Programs</a>
                    </li>
                    <li>
                        <a href="#">Best Outpatient Programs</a>
                    </li>
                    <li>
                        <a href="#">Best Virtual Programs</a>
                    </li>
                    <li>
                        <a href="#">Best Inpatient Programs</a>
                    </li>
                    <li>
                        <a href="#">Best Sober Living Programs</a>
                    </li>

                </ul>
            </div>
            <div class="popular-centers sidebar mt-5">
                <h3 class="sidebar-header">
                   Top States
                </h3>
                <ul>
                    <li>
                        <a href="#">Facilities In California</a>
                    </li>
                    <li>
                        <a href="#">Facilities In Florida</a>
                    </li>
                    <li>
                        <a href="#">Facilities In Arizona</a>
                    </li>
                    <li>
                        <a href="#">Facilities In New York</a>
                    </li>
                   

                </ul>
            </div>
        </div>
    </div>

</div>

@code {
    private List<CardViewModel> SpecialConditionsCards = new();
    private List<CardViewModel> AllConditionsCards = new();
   protected override void OnInitialized()
    {
        SpecialConditionsCards = Rehab.EndPoint.Web.Data.Conditions
        .All
        .Where(c => c.IsMostCommon == true)
        .Select(i => new CardViewModel
        {
            Name = i.Name,
            Image = i.Icon,
            Description = i.Description,
        }).ToList();

        AllConditionsCards = Rehab.EndPoint.Web.Data.Conditions
      .All
      .Select(i => new CardViewModel
      {
          Name = i.Name,
          Image = i.Icon,
          Description = i.Description,
      }).ToList();

    }
}
<style>

    h2.page-title {
        font-size: 1.5rem;
    }

    h3.section-title {
        font-size: 1rem;
        border-bottom: solid 2px;
        width: 30%;
        padding-bottom: 10px;
        border-color: #dee2e6;
    }

        h3.section-title::after{

        }
 
    .search-input {
        width: 100% !important;
        font-size: 12px;
        max-width: 100% !important;
    }

    h3.sidebar-header{
        font-size:0.9rem;
        font-weight:bold;
        border-bottom: solid 2px #eeee;
    }

    .sidebar ul{
        padding:0px;
        margin:0px;
    }
    .sidebar ul li{
        list-style:none;
    }

    .sidebar ul li a{
        text-decoration:none;
        font-size: 0.8rem;
    }
</style>