.search-box {
    position: relative;
    max-width: 100%;
    margin-bottom: 0px;
}

.search-input {
    width: 100%;
    max-width: 100%;
    height: 56px;
    padding-right: 3rem;
    border-radius: 12px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 1.2rem;
}

.results-filters {
    margin-bottom: 1rem;
}

.filter-group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.filter-title {
    font-weight: 600;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.filter-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filter-tag {
    display: inline-flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 20px;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
}

.remove-button {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    line-height: 1;
}

    .remove-button:hover {
        color: #a71d2a;
    }

.clear-filters {
    background: none;
    border: none;
    color: #0d6efd;
    padding: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

/** Filters DropDowns**/
.filter-dropdowns {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin-top: 0.75rem;
    margin-bottom: 20px;
}

.filter-dropdown .dropdown-menu {
    padding: 0.5rem;
    min-width: 240px;
    font-size: 0.8rem;
}

.filter-dropdown input[type="checkbox"] {
    margin-right: 0.5rem;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: transparent;
}

.filter-dropdown .btn {
    color: #31c5fc;
    border-color: #31c5fc;
    padding: 5px;
    font-size: 0.8rem;
}

    .filter-dropdown .btn:hover, .filter-dropdown .btn:active {
        color: #fff;
        background-color: #31c5fc;
        border-color: #e9f4fe;
    }

ul.dropdown-menu.show {
    max-height: 200px;
    overflow-y: scroll;
}

h3.sidebar-header {
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: solid 2px #eeee;
}

.sidebar ul {
    padding: 0px;
    margin: 0px;
}

    .sidebar ul li {
        list-style: none;
    }

        .sidebar ul li a {
            color: #31c5fc;
            text-decoration: none;
            font-size: 0.8rem;
        }
