@page "/Facilities"
@rendermode InteractiveServer
@using Rehab.Application.Facilities
@using Rehab.EndPoint.Web.Components.Common
@using Rehab.EndPoint.Web.Components.Facility
@using Rehab.EndPoint.Web.ViewModels
@inject IFacilityService FacilityService
@inject AutoMapper.IMapper mapper

<div class="container mt-5 mb-5">
    <h2 class="section-title text-center p-2">Our Recovery Centers</h2>
    <div class="row g-4">
       
        
        <Virtualize ItemsProvider="LoadFacilities" Context="facility" ItemSize="320" TItem="FacilityCardViewmodel">
            <ItemContent Context="facility">
                <div class="col-12 col-md-3">
                    <FacilityItem ShowTags="false" FacilityCard="facility" CustomClass="small-card" />
                </div>
            </ItemContent>
        </Virtualize>

        
    </div>

</div>
@code {
    private FacilityFieldsItem FilterItems { get; set; } = new();
    [Parameter, SupplyParameterFromQuery] public string? condition { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? amenity { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? treatment { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? insurance { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? loc { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? wwt { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? swt { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? state { get; set; }
    [Parameter, SupplyParameterFromQuery] public string? city { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(condition)) FilterItems.Condition = condition;
        if (!string.IsNullOrWhiteSpace(amenity)) FilterItems.Amenity = amenity;
        if (!string.IsNullOrWhiteSpace(treatment)) FilterItems.Treatment = treatment.ToLowerInvariant();
        if (!string.IsNullOrWhiteSpace(insurance)) FilterItems.Insurance = insurance;
        if (!string.IsNullOrWhiteSpace(loc)) FilterItems.Loc = loc;
        if (!string.IsNullOrWhiteSpace(wwt)) FilterItems.Wwt = wwt;
        if (!string.IsNullOrWhiteSpace(swt)) FilterItems.Swt = swt;
    }
    private async ValueTask<ItemsProviderResult<FacilityCardViewmodel>> LoadFacilities(ItemsProviderRequest request)
    {
        var result = await FacilityService.GetFacilityCardsAsync(request.StartIndex / 50 + 1, 50, state, city, FilterItems);
        return new ItemsProviderResult<FacilityCardViewmodel>(mapper.Map<List<FacilityCardViewmodel>>(result.Item1), result.totalCount);
    }
}
