@page "/"
@using Rehab.EndPoint.Web.Components.Facility
@using Rehab.EndPoint.Web.Components.HomeSections
@inject IJSRuntime jSRuntime
@implements IAsyncDisposable

<HeroSection />
<FilterByState />
<RecoveryCentersSection />
<ConditionsSection />
 <InsuranceSection />
 <TreatmentSection  />
 <WWTSection/>
@* <ResourcesSection /> *@

<!-- LOADER-->
<!-- Circle spinning-->
<div id="loading-overlay" class="d-none" >
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- logo spinning-->
<div id="loading-logo-overlay" class="d-none">
    <img src="/images/logo.png" width="50" class="spin-logo" alt="Loading..." />
</div>
<!-- LOADER-->

@code{
    private IJSObjectReference? jsModule;
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await jSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/home.js");
            await jsModule.InvokeVoidAsync("initialize");
        }       

     }
    public async ValueTask DisposeAsync()
    {
        if (jsModule != null)
        {
            await jsModule.DisposeAsync();
        }
    }
}