@page "/facility/add"
@using AutoMapper
@using Rehab.Application.Facilities
@using Rehab.EndPoint.AdminPanel.Viewmodels
@inject IFacilityService FacilityService
@inject AutoMapper.IMapper mapper
@rendermode InteractiveServer




<h3>AddFacility</h3>
@* @if (IsLoading)
{
    <!-- Spinner Start -->
    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
}
else
{
 *@    <form method="post" @onsubmit="Add" @formname="addFacilityForm" data-enhance="true">
        <AntiforgeryToken></AntiforgeryToken>
        <div class="row">
            <div class="col-4">
                <label for="name" class="form-label">Name</label>
                <InputText @bind-Value="Facility.Name" class="form-control" id="name"></InputText>
            </div>
            <div class="col-4">
                <label for="address" class="form-label">Address</label>
                <InputText @bind-Value="Facility.Address" class="form-control" id="address"></InputText>
            </div>
            <div class="col-4">
                <label for="phoneNumber" class="form-label">PhoneNumber</label>
                <InputText @bind-Value="Facility.PhoneNumber" class="form-control" id="phoneNumber"></InputText>
            </div>
        </div>

        <div class="row">
            <Rehab.EndPoint.AdminPanel.Components.Controls.UsaStateCitySelectorComponent />
            <div class="col-4">
                <label for="webSite" class="form-label">WebSite</label>
                <InputText @bind-Value="Facility.WebSite" class="form-control" id="webSite"></InputText>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="name" class="form-label">Name</label>
                <InputText @bind-Value="Facility.Email" class="form-control" id="name"></InputText>
            </div>
            <div class="col-4">
                <label for="address" class="form-label">Address</label>
                <InputText @bind-Value="Facility.Address" class="form-control" id="address"></InputText>
            </div>
            <div class="col-4">
                <label for="phoneNumber" class="form-label">PhoneNumber</label>
                <InputText @bind-Value="Facility.PhoneNumber" class="form-control" id="phoneNumber"></InputText>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <label for="name" class="form-label">Accreditation</label>
                <textarea class="form-control" id=""></textarea>
            </div>

            <div class="col-4">
                <label for="phoneNumber" class="form-label">PhoneNumber</label>
                <InputText @bind-Value="Facility.PhoneNumber" class="form-control" id="phoneNumber"></InputText>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
@* } *@



@code {
    public FacilityViewmodel Facility { get; set; } = new();
    // private bool IsLoading = true;

    private BaseDto<FacilityDto> AddResult = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     IsLoading = true;
    //     await Task.Delay(1000);
    //     IsLoading = false;
    // }

    private void Add()
    {
        if(Facility is not null)
        {
            AddResult = FacilityService.Add(mapper.Map<FacilityDto>(Facility));
        }
    }
}
