@page "/swt/add"
@using Rehab.Application.SubstancesWeTreat
@using Rehab.EndPoint.AdminPanel.Viewmodels
@inject Rehab.Application.SubstancesWeTreat.ISubstancesWeTreatService SwtService
@inject AutoMapper.IMapper mapper
@rendermode InteractiveServer
@inject AlertService AlertService
@inject IWebHostEnvironment Env
@inject IImageUploaderService Uploader

<div class="w-75 mx-auto p-4">
    <h3>Add Substances We Treat</h3>

    <EditForm Model="Swt" OnValidSubmit="Add" class="form-control" FormName="AddSwtForm">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary class="text-danger" />
        <label>Name</label>
        <InputText @bind-Value="Swt.Name" class="form-control my-2"></InputText>
        <label>Icon</label>
        <InputFile OnChange="HandleSelected" class="form-control my-2" accept="image/*" />
        <label>Description</label>
        <InputTextArea @bind-Value="Swt.Description" class="form-control my-2"></InputTextArea>
        @if (isAddBtnActive)
        {
            <button class="btn btn-primary my-2">Add</button>
        }
        else
        {
            <button class="btn btn-outline-danger my-2" disabled>Add</button>
        }
    </EditForm>
</div>


@code {
    public SwtViewmodel Swt { get; set; } = new();
    public ResultViewmodel<SwtViewmodel> Result { get; set; } = new();
    private bool isAddBtnActive = true;

    private async Task Add()
    {
        if (Swt is not null)
        {
            if (UploadedPaths.Count > 0)
            {
                Swt.Logo = UploadedPaths[0];
            }
            else
            {
                Swt.Logo = "";
            }

            var swtDto = mapper.Map<SwtDto>(Swt);
            BaseDto<SwtDto> result = SwtService.Add(swtDto);
            Result = mapper.Map<ResultViewmodel<SwtViewmodel>>(result);
            if (Result.Success)
            {
                Swt = new();
                UploadedPaths.Clear();
            }
            await AlertService.ShowAsync(Result.Message, Result.Status);
        }
    }

    List<string> UploadedPaths = new();

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        isAddBtnActive = false;
        StateHasChanged();
        var files = e.GetMultipleFiles();
        var paths = await Uploader.UploadAsync(files, Env.WebRootPath, "uploads/swts");
        UploadedPaths.Clear();
        UploadedPaths.AddRange(paths);
        if (UploadedPaths.Count > 0)
        {
            isAddBtnActive = true;
        }
    }
}
