@page "/"
@using AutoMapper
@using Rehab.EndPoint.AdminPanel.Viewmodels;


@inject IUserService UserService
@inject IMapper mapper

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<form method="post" @onsubmit="AddUser" @formname="AddUserForm" data-enhance="true">
    <AntiforgeryToken></AntiforgeryToken>
    <InputText @bind-Value="User!.Name"></InputText>
    <button type="submit" class="btn btn-success">Save</button>
</form>


@* @if(userList is not null)
{
    foreach (var item in userList)
    {
        <div>@item.Name</div>
    }
} *@




@code{
    [SupplyParameterFromForm]
    private UserViewmodel? User { get; set; }

    protected override void OnInitialized() => User ??= new();

    // private List<UserViewmodel>? userList;

    public void AddUser()
    {
        if (!string.IsNullOrEmpty(User!.Name))
        {
            var result = UserService.Add(mapper.Map<UserDto>(User));
            if (result != null)
            {
                User = new();
            }
        }
    }

    // protected override void OnInitialized()
    // {
    //     base.OnInitialized();
    //     userList = mapper.Map<List<UserViewmodel>>(UserService.GetAll());
    // }


}
