 @page "/"
@*@using AutoMapper
@using Rehab.EndPoint.AdminPanel.Viewmodels;


@inject IUserService UserService
@inject IMapper mapper

<PageTitle>Home</PageTitle>


<form method="post" @onsubmit="AddUser" @formname="AddUserForm" data-enhance="true">
    <AntiforgeryToken></AntiforgeryToken>
    <InputText @bind-Value="User!.Name"></InputText>
    <button type="submit" class="btn btn-success">Save</button>
</form>


@if(userList is not null)
{
    foreach (var item in userList)
    {
        <div>@item.Name</div>
    }
}




@code{
    [SupplyParameterFromForm]
    private UserViewmodel? User { get; set; }


    public List<UserViewmodel>? userList { get; set; }

    public void AddUser()
    {
        if (!string.IsNullOrEmpty(User!.Name))
        {
            var result = UserService.Add(mapper.Map<UserDto>(User));
            if (result != null)
            {
                userList?.Add(User);
                User = new();
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        User ??= new();
        userList = mapper.Map<List<UserViewmodel>>(UserService.GetAll());
    }

}
 *@